* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  #crypto-select {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .interval-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  .interval-buttons button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .interval-buttons button:hover {
    background-color: #333333;
  }
  
  .currency-toggle {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  
  .currency-toggle button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .currency-toggle button.active {
    background-color: #00ffaa;
    color: #121212;
  }
  
  .crypto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .crypto-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .crypto-price h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .crypto-price p {
    font-size: 1.2rem;
    color: #00ffaa;
  }
  
  canvas {
    width: 100%;
    height: 325px;
    max-height: 325px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }
  
    .crypto-icon img {
      width: 50px;
      height: 50px;
    }
  }

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #loading-screen img {
    width: 200px; 
    height: auto;
  }
  

  #loading-screen.hidden {
    display: none;
  }